body {
    color: #55aaff;
    margin: 0 10px;
}
ul { list-style-type: none; }
.message-box { border: 1px solid #dfdfdf; height: 220px; overflow-y: scroll; margin: 0; padding: 0; }
.list {	margin: 0; padding: 0; }
.list li { padding: 5px; clear: both; }
.left > div { float: left; background-color: #ffe6cb; color: #c48843; }
.right > div { float: right; background-color: #c7eafc; color: #45829b; }
.list li > div { max-width: 80%; min-width: 150px; padding: 5px; border-radius: 5px; margin-bottom: 10px; }
.list .name { font-weight: bold; font-size: 1.2em; }
.list .date { font-size: .85em; opacity: 0.6; }

