<div class="container">
  <nav class="navbar navbar-default">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Angular Chat</a>
    </div>
    <ul class="nav navbar-nav">
      <li role="presentation" routerLinkActive="active">
        <a routerLink="">Home</a>
      </li>
      <li role="presentation" routerLinkActive="active" *ngIf="!isLoggedIn">
        <a routerLink="login">Login</a>
      </li>
      <li role="presentation" *ngIf="isLoggedIn">
            <a>Hello, {{currentName}}</a>
      </li>
      <li role="presentation" *ngIf="isLoggedIn">
        <a href="javascript:void(0);" (click)="Logout()">Logout</a>
      </li>
    </ul>
  </nav>

  <router-outlet></router-outlet>
</div>