<form class="form-horizonal" #f="ngForm" method="post" (ngSubmit)="CheckLogin(f.value)" novalidate>
    <div class="form-group">
        <label>Username: </label>
        <div>
            <input type="text" autocomplete="off" name="username" class="form-control" minlength="4" maxlength="10" pattern="^[a-zA-Z]*$" #username="ngModel" required ngModel>
        </div>{{username.className}}
        <div *ngIf="username.errors && (username.dirty || username.touched)" class="alert alert-danger">
            <div [hidden]="!username.errors.required">Name is required</div>
            <div [hidden]="!username.errors.minlength">Name must be at least 4 characters</div>
            <div [hidden]="!username.errors.maxlength">Name must be less than 10 characters</div>
            <div [hidden]="!username.errors.pattern">Name must be string of a - z or A - Z</div>
        </div>
    </div>
    <div class="form-group">
        <label>Password:</label>
        <div>
            <input type="password" name="password" class="form-control" required #password="ngModel" ngModel>
        </div>
    </div>
    <div class="form-group">
        <label> </label>
        <div>
            <button type="submit" [disabled]="!f.valid" class="btn btn-primary">Login</button>
        </div>
    </div>
</form>