<div class="content">
    <div class="row">
        <div class="col-md-9">
                <h4>Chat with {{to}}</h4>
            <div class="message-box" id="messageBox">
                <ul class="box box-shadow list">
                    <li *ngFor="let message of messages" [class.right]="message.from===from" [class.left]="message.from!==from">
                        <div>
                            <div class="name">{{message.from}}</div>
                            <div class="content">{{message.content}}</div>
                            <div class="date">{{message.createdAt|date : 'short'}}</div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-3">
            <div class="sidebar-module">
                <h4>My Contacts</h4>
                <ol class="list-unstyled">
                    <li *ngFor="let user of users"><a (click)="changeTo(user.name)" href="javascript:void(0);">{{user.name}}</a></li>
                </ol>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="to">
        <form #f="ngForm" (ngSubmit)="Send(f.value);">
            <div class="form-group">
                <div class="col-md-9">
                    <input type="hidden" name="from" [ngModel]="from" ngModel>
                    <input type="hidden" name="to" [ngModel]="to" ngModel>
                    <input type="text" name="content" class="form-control form-inline" #content [(ngModel)]="message_content" placeholder="Enter your message here"
                        autocomplete="off">
                </div>
                <div class="col-md-3">
                    <button type="submit" class="btn btn-primary">Send</button>
                </div>
            </div>
        </form>
    </div>
</div>